body{
    background-color: #002633;
    color: #777776;
    font-size: 10px;
    font-family: sans-serif;
    margin: 0;
    line-height: 15px;
}
main, header{
background-color: #fff;
width: 100vw;
}
h2,h3,span, .direccion{
    font-size: 22px;
    font-weight: bold;
    color: #044e99;
}
h3, span, .direccion{
    font-size: 10px;
    font-weight: bold;
}

a {
    color: #444;
    text-decoration: none;
}

.comienso{
    display: flex;
    box-sizing: border-box;
    height: 35px;
}
.eprincipio{
    width: 60%;
    text-align: center;
    vertical-align: top;
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
    box-sizing: border-box;
}

.comiensoico {
    width: 40%;
    box-sizing: border-box;
    display: flex;
    padding-left: 190px;
    border-top: 0;
    margin-top: 5px;
}

.icono_superior {
    height: 13px;
    padding: 0 5px;
}

.separador1 {
    background: #222f83;
    height: 30px;
    width: 100vw;
    background: linear-gradient(#2e3a8b 50%,#111743 50%);
}

nav{
    display: flex;
    box-sizing: border-box;
    height: 80px;
}

.logo_principal {
    width: 48%;
    text-align: center;
    padding-top: 23px;
}

.logo_prin {
    height: 3.2em;
}

.barra_navegador {
    padding-top: 32px;
    padding-left: 8px;
}

.boton, .sel{
    border: transparent;
    background: transparent;
    color: #044e99;
    font-size: 10px;
    margin: 0 5px;
}

.vehiculo{
    width: 100%;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.slider input{
    visibility: hidden;
    display: none;
}

.buttons{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 20px;
    gap: 10px;
}

.buttons label{
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
    z-index: 1;
    transition: 300ms ease-in-out;
}

.buttons label:hover{
    scale: 1.2;
    opacity: 1;
}

.slider input:nth-child(1):checked ~ .buttons label:nth-child(1),
.slider input:nth-child(2):checked ~ .buttons label:nth-child(2){
    opacity: 1;
    scroll-margin: 1.2;
    width: 40px;
}

.content{
    position: relative;
    width: 200vw;
    display: flex;
    transition: 400ms ease-in-out;
}

.firstslide,.secondslide{
    position: relative;
    width: 100vw;
    height: 44vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstslide{
    background-color: #094;
}

.secondslide{
    background-color: #af0;
}


.slider input:nth-child(1):checked ~ .content{
    left: 0;
}

.slider input:nth-child(2):checked ~ .content{
    left: -100vw;
}

.cuerpo {
    padding: 5em 20.4vw;
    width: 57vw;
}

.imagen3 {
    width: 68em;
}

.imagen4 {
    width: 35%;
}

.finalcuerpo{
    width: 49%;
    box-sizing: border-box;
}

footer{ 
    background: #002633;
    color: #7697a3;
    margin: 0;
    width: 100vw;
}

.cajafa{
    display: flex;
    box-sizing: border-box;
    padding: 40px 20vw;
}
.fimagen{
    width: 10px;
    height: 10px;
    margin: 13px 6px 0px 6px;
}
.separador3{
    width: 100vw;
    height: 1px;
    background-color: #555;
}
.fcaja1{
    box-sizing: border-box;
    width: 40%;
    margin: 6px;
    font-size: 11px;
}
.ajuste, .union, .cajafb{
   display: flex;
   box-sizing: border-box;
   padding: 0px 0;
   border: none;
   margin: 0;
   height: 30px;
}

.spanf{
    color: #7697a3;
    font-weight: bolder;
}

.enlaceU{
    color: #7697a3;
}

.form_input, .texta_input{
    background-color: transparent;
    width: 90%;
    border: none;
    border-left: 1px #f00 solid;
    margin: 5px;
    color: #fff;
    font-size: 10px;
    padding: 6px 0 6px 7px;
}
.texta_input{
    width: 92.5%;
    margin-bottom: 15px;
}

.titulof{
    color: #fff;
    font-size: 13px;
}

.botonf {
    width: 98%;
    color: #fff;
    background: #014f99;
    height: 27px;
    font-weight: lighter;
    font-size: 11px;
    border: transparent;
}

.caja111{
    font-style: italic;
    margin-top: 8px;
}

.copiray{
    width: 11vw;
    margin: auto;
    font-size: 9px;
    line-height: 13.5px;
    padding-top: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.creador{
    width: 12vw;
    margin: auto;
    padding-top: 6px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 13.5px;
    font-size: 9px;
}

.creadore{
    color: #ddd;
    font-size: 9px;
    font-weight: lighter;
}